*{
    margin: 0;
    padding: 0;
    text-align: center;
    border: solid 2px;
}

/*VOGAIS 1*/
.baloens{
    position: absolute;
    width: 80px;
    height: 120px;
    font-size: 100px;
    background-color: transparent;
    left: 25%;
    top: 15%;
    text-transform: uppercase;
    text-align: center;
}

.rela{
    position: relative;
}

/* VOGAIS 2*/

.vogais2_div{
    width: 15%;
    height: 100%;
    padding: 2% 2% 5% 2%;
    border: solid 2px;
    background-color: blue;
    display: inline-block;
}

.text_vogais2{
    width: 80px;
    height: 120px;
    font-size: 100px;
    text-transform: uppercase;
}

/*VOGAIS 3*/

principal{
    height: 300px;
    width: 100%;
    background-color: pink;
    display: grid;
        grid-template-columns: 30% 70%;
        justify-content: space-between;
        grid-template-areas:
            "aside main"
            ;
}

aside{
    grid-area: aside;
    height: 100%;
    background-color: blue;
    align-items: center;
    font-size: 200px;
    vertical-align: central;
}

aside p{
    height: 100%;
    
}

main{
    grid-area: main;
    height: 100%;
    background-color: pink;
    display: inline;
}

main button{
    width: 20%;
    background-color: blue;
    padding: 2%;
    margin: 1%;
       
}

main button img{
    height: 100px;
    background-color: purple;
}

main button p {
    display: none;
    font-size: 15px;
    font-weight: bold;
}
